body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.page-nav .link {
  display: block;
  padding: 24px 0;
}
.page-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  margin-left: auto;
}
.header-nav .logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.text-logo {
  color: #4d5ae5;
}
.page-nav .link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current {
  position: relative;
}
.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.page-nav .link:hover,
.page-nav .link:focus,
.link.current {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}
.title {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.my-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.my-button:hover,
.my-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  background-color: #ffffff;
}
.features li {
  width: calc((100% - 72px) / 4);
}
.antena {
  align-items: center;
  color: #f4f4fd;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.section-title {
  gap: 24px;
  display: flex;
}
.features h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 8px;
}
.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-section {
  display: flex;
  gap: 24px;
  align-items: center;
}
.team-section li {
  width: calc((100% - 72px) / 4);
}
.colngs {
  background: #ffffff;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team li {
  background-color: #ffffff;
}
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.team-list {
  padding: 32px 16px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 0;

  padding-left: 16px;
  padding-right: 16px;
}
.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-list .social {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.team-social {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social svg {
  fill: #f4f4fd;
}
.team-social:hover,
.team-social:focus {
  background-color: #404bbf;
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.container-portolio-img {
  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portolio-img:hover {
  cursor: pointer;
}
.container-portolio-img:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-portolio-img:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
}
.portfolio h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
}

.portfolio-img-text {
  position: relative;
  overflow: hidden;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}
.portfolio-item-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-text {
  width: 100%;
  left: 0;
}
.portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.text-logo-footer {
  color: #4d5ae5;
}
.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  padding-top: 16px;
}

.footer-social {
  display: flex;
  list-style: none;
}
.footer-social > li:not(:last-child) {
  margin-right: 16px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon svg {
  fill: #f4f4fd;
}
.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
  cursor: pointer;
}
.social-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  color: #ffffff;
}
.bank {
  display: flex;
  align-items: baseline;
}

.bank > :nth-child(1) {
  margin-right: 120px;
}
.bank > :nth-child(2) {
  margin-right: 80px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus-visible {
  background-color: #404bbf;
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-close:hover .icon-close,
.modal-close:focus-visible .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}
.modal-icon {
  position: absolute;
  left: 16px;
  transform: translateY(-50%);
  top: 50%;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-line {
  margin-bottom: 8px;
  padding: 0;
}
.form-line--texteria {
  margin-bottom: 16px;
}

.modal-input-card {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  gap: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-card:focus-within .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-form {
  background-color: transparent;
  outline: transparent;
}

.modal-text-form:focus {
  border-color: #4d5ae5;
}

.modal-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-line--checkbox {
  margin-bottom: 24px;
}
.modal-check-label:hover .span-modal-check {
  border-color: #4d5ae5;
}
.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.span-modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check {
  width: 16px;
  height: 16px;
}
.modal-check-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label .modal-check-icon {
  opacity: 1;
  fill: #fff;
}
.modal-check:checked + .modal-check-label .span-modal-check {
  background-color: #404bbf;
  border: none;
}
.modal-button {
  display: block;
  text-align: center;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  background: #4d5ae5;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus-visible {
  background-color: #404bbf;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form > *:not(:last-child) {
  margin-right: 24px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  line-height: 2;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.footer-button-form {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-height: 40px;
  border-radius: 4px;
  gap: 16px;
  background: #4d5ae5;
  height: 40px;
  border: none;
  padding: 8px 24px;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-form:hover,
.footer-button-form:focus {
  background-color: #31d0aa;
}
.footer-form-icon {
  fill: #fff;
}
